<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.6/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="chainmail">
            <file>tests/ChainMailTest.php</file>
        </testsuite>
        <testsuite name="renderer">
        </testsuite>
        <testsuite name="sanitizer">
        </testsuite>
        <testsuite name="section">
        </testsuite>
        <testsuite name="support">
            <file>tests/EmailAddressTest.php</file>
            <file>tests/DomainTest.php</file>
        </testsuite>
        <testsuite name="template">
        </testsuite>
        <testsuite name="validator">
        </testsuite>
        <testsuite name="recipients">
            <file>tests/RecipientsTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
